<head th:replace="~{layoutBase :: head}">
</head>

<body>

<div th:replace="~{layoutBase :: navbar}"></div>

<div class="container mb-2">
    
    <h1>Colaboradores</h1>
    <table class="table table-light">
        
        <tr class="table-dark">
            
            <th></th>
            <th scope="col">Nome</th>
            <th scope="col">Cargo</th>
            <th scope="col">Email</th>
            <th scope="col">Salario</th>
            <th scope="col">Setor</th>
            <th scope="col"></th>
        </tr>

        <tr th:each="colab : ${colaboradores}">
            <th scope="row"></th>
            <td><span th:text="${colab.name}"></span></td>
            <td><span th:text="${colab.office}"></span></td>
            <td><span th:text="${colab.email}"></td>
            <td>R$<span th:text="${colab.wage}"></span></td>
            <td><span th:text="${colab.setor}"></span></td>
            
            <td class="buttons ">
				<a th:href="@{form/{id}(id=${colab.id})}"
				   th:method="get"
				   class="btn btn-warning">
				   		<i class="fa fa-pencil"></i>
				</a>
                <a th:href="@{delete/{id}(id=${colab.id})}"
                   th:method="delete"
                   class="btn btn-danger">
                   		<i class="fa fa-trash"></i>
                </a>
             </td>
        </tr>
    </table>

    <a href="/form"><button 
       class="btn btn-dark">Adicionar colaborador</button>
    </a>
</div>
</body>

</html>